


<%= link_to "Создать прогноз", new_article_path, class: "btn btn-success btn-xs" %>

<h1 align="center">Наши прогнозы</h1>
<%= render 'article', obj: @articles %>
    


<% @articles.each do |article| %>
<tr>
    <th><%= article.title %></th>
    <th><%= article.description %></th>
    <th><%= link_to "Редактировать", edit_article_path(article) %></th>
    <th><%= link_to "Посмотреть полное описание", article_path(article) %></th>
    <th><%= link_to "Удалить", article_path(article), method: :delete, data: {confirm: "Вы уверены?"} %> </th>
</tr>
    <% end %>
</table>