<head>
   
    <style>
        
       
        * {
            box-sizing: border-box;
        }
        
        .tovar {
            margin-top: 70px;
            border:3px solid gray;
            width: 150px;
            background: black;
            float: right;
        }
        
        .tovar img {
            width: 50px;
            height:50px;
        }
        
        .tovar li {
            padding: 15px;
            margin:15px 10px 15px 29.5px;
            list-style-type: none;
        }
        
        
        .btn {
            background: black;
            color: gold;
        }
        
        .change {
            float: right;
            margin-top: 30px;
            clear: both;
        }
        
        .change li {
            list-style-type: none;
        }
        
        .tovar h3 {
            color: gold;
            text-align: center;
        }
        
        .programs {
            margin-top: 90px;
            float: left;
            width: 930px
        }
        
        .programs img {
            height: 200px;
            width: 35%;
            float: left;
            box-shadow: 0px 0px 13px rgba(7, 14, 7, 0.6);
        }
        
        .programs li {
            margin-left: 45%;
            line-height: 1.5px;
            font-weight: bold;
        }
        
        .programs h4 {
            margin-bottom: 19px;
            font-weight: bold;
        }
        #h4p {
            list-style-type: none;
            color: green;
            
        }
        
        #h4m {
            list-style-type: none;
            color: red;
            
        }
        
        .leon  {
            padding-top: 30px;
            border-bottom: 2px solid black;
            padding-bottom: 30px;
        }
        
        .xstavka {
            padding-bottom: 30px;
            border-bottom: 2px solid black;
        }
        
    
        p {
            font-family: 'PT Sans Caption', sans-serif;
              font-size: .8em
        }
    </style>
</head>

<div class="programs">
    <div class="xstavka">
         <%= link_to image_tag('1xSt.jpg'), 'https://aff1xstavka.top/L?tag=s_57451m_1341c_&site=57451&ad=1341', :target => "_blank" %>
         <li id="h4p"> <h4> Плюсы </h4> </li>
         <li> Высокие коэффициенты </li>
         <br/>
         <li>Широкая и глубокая линия с максимально вариативной росписью</li>
         <br/>
         <li> Отличное предложение ставок Live </li>
         <br/>
         <li> Легальный букмекер в РФ </li>
         <br/>
         <li> Бонус за регистрацию 2000</li>
         <br/> 
         <li id="h4m"> <h4> Минусы </h4> </li>
         <li> Налог на ставки </li>
    </div>
     <div class="leon">
         <%= link_to image_tag('http://cdn.leon.ru/adv/ln/leonrus/300x250-ver2.gif?t=79'), 'https://www.leon.ru/?wm=63321235', :target => "_blank" %>
         <li id="h4p"> <h4> Плюсы </h4> </li>
         <li> Быстрый вывод средств </li>
         <br/>
         <li> Широкая и глубокая линия с максимально вариативной росписью</li>
         <br/>
         <li> Отличное предложение ставок Live </li>
         <br/>
         <li> Отличная программа лояльности </li>
         <br/>
         <li> Бонус на депозит 3999 </li>
         <br/> 
         <li id="h4m"> <h4> Минусы </h4> </li>
         <li> Заниженные коэффиценты на Live события </li>
    </div>
</div>

<div class='tovar'>
        
        <h3> Подписки </h3>
        <li id="bcknum"><%= link_to image_tag('1st.jpg'), 'https://vk.com/market-161163097?w=product-161163097_2188956%2Fquery', :target => "_blank" %></li>
        <li id="bcknum"><%= link_to image_tag('2nd.jpg'), 'https://vk.com/market-161163097?w=product-161163097_2188959%2Fquery', :target => "_blank" %></li>
        <li id="bcknum"><%= link_to image_tag('3rd.jpg'), 'https://vk.com/market-161163097?w=product-161163097_2188961%2Fquery', :target => "_blank" %></li>   
       
        <hr>
        <h3> Правила </h3>
        <li><%= link_to image_tag('fag.png'), 'vk.com/@aclubet-faqa-club', :target => "_blank" %></li>
        <li><%= link_to image_tag('book.png'), 'https://vk.com/topic-161163097_39174262', :target => "_blank" %></li>
        <li><%= link_to image_tag('change.png'), edit_user_path(current_user), class: "changer" %></li>
</div>



       