<head>
    <style>
        .tovar {
            margin-top: 70px;
            border:3px solid gray;
            width: 150px;
            background: black;
            float: right;
        }
        
        .tovar img {
            width: 50px;
            height:50px;
        }
        
        .tovar li {
            padding: 15px;
            margin:15px 10px 15px 29.5px;
            list-style-type: none;
        }
        
        
        .btn {
            background: black;
            color: gold;
        }
        
        .change {
            float: right;
            margin-top: 30px;
            clear: both;
        }
        
        .change li {
            list-style-type: none;
        }
        
        .tovar h3 {
            color: gold;
            text-align: center;
        }
    </style>
</head>

<div class='tovar'>
        <h3> Подписки </h3>
        <li><%= link_to image_tag('1.jpg'), 'https://vk.com/market-161163097?w=product-161163097_2188956%2Fquery', :target => "_blank" %></li>
        <li><%= link_to image_tag('2.jpg'), 'https://vk.com/market-161163097?w=product-161163097_2188959%2Fquery', :target => "_blank" %></li>
        <li><%= link_to image_tag('3.jpg'), 'https://vk.com/market-161163097?w=product-161163097_2188961%2Fquery', :target => "_blank" %></li>    
        <hr>
        <h3> Правила </h3>
        <li><%= link_to image_tag('faq.jpg'), 'vk.com/@aclubet-faqa-club', :target => "_blank" %></li>
        <li><%= link_to image_tag('rules.png'), 'https://vk.com/topic-161163097_39174262', :target => "_blank" %></li>
       
</div>

<div class="change">
     <li><%= link_to "Изменить профиль", edit_user_path(current_user), class: "btn btn-md btn-primary" %></li>
</div>